@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  margin: 10vh 10vw;
  font-family: 'Karla', sans-serif;
  text-align: left;
  color: #2f3640;
  background-color: white;
}

.app {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.list {
  overflow-y: scroll;
  max-height: 50vh;
  scroll-behavior: smooth;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1290px) {
  body {
    margin: 5vh 8vw;
  }

  .app {
    flex-direction: column;
    justify-content: center;
  }

  .list {
    max-height: 40vh;
  }
}

.title {
  display: flex;
  align-items: flex-start;
  font-size: 45px;
}

.title span {
  text-indent: 2rem;
}

input {
  width: 65%;
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  padding: 10px;
  margin: 0 5px 0 0;
  border: none;
  border-bottom: 2px #2f3640 solid;
}

input:focus, button:focus {
  outline: none;
}

.addBtn {
    width: 50px;
    height: 40px;
    font-size: 13px;
    font-family: 'Karla', sans-serif;
    border-radius: 25px;
    margin: 5px;
    background-color: #2f3640;
    color: #ffffff;
    border: none;
}