.todo {
    width: 100%;
    margin: 15px 0px;
    border-bottom: 2px solid #2f3640;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todoName {
    margin: 10px;
}

.todoBtn {
    margin-left: 10px;
    display: flex;
}

@media (max-width: 425px) {
    .todo {
        margin: 5px 0px;
    }

    .todoBtn {
        flex-direction: column;
    }
}

.todoBtn button {
    width: 50px;
    height: 40px;
    font-size: 13px;
    font-family: 'Karla', sans-serif;
    border-radius: 25px;
    margin: 5px;
    background-color: #2f3640;
    color: #ffffff;
    border: none;
}